# Default Github
Host default.github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa

# Sleepy Giant Github
Host github.com
  HostName github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/sleepygiant_rsa

# Disney Github
Host github.wdig.com
  HostName github.wdig.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/disney_rsa

# Stop timing out connections
ServerAliveInterval 300
ServerAliveCountMax 20
